<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rowicka.newthings">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewThings">
        <activity
            android:name=".geofences.GeofencesActivity"
            android:exported="true" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- activity result -->
        <activity android:name=".activityResult.HomeScreenActivity" />
        <activity android:name=".activityResult.simple.ReceiverActivity" />
        <activity android:name=".activityResult.simple.SenderActivity" />
        <activity android:name=".activityResult.ownContract.ReceiverActivity" />
        <activity android:name=".activityResult.ownContract.SenderActivity" />
        <activity android:name=".activityResult.permission.ReceiverImageActivity" /> <!-- custom view -->
        <activity android:name=".customView.CustomViewActivity" /> <!-- draw on canvas -->
        <activity
            android:name=".drawOnCanvas.DrawCanvasActivity"
            android:theme="@style/FullScreen" />
        <activity android:name=".recyclerViewSection.RecyclerViewSectionActivity" /> <!-- clipping canvas objects -->
        <activity
            android:name=".clippingCanvasObjects.ClippingCanvasObjects"
            android:theme="@style/FullScreen" /> <!-- property animations -->
        <activity
            android:name=".propertyAnimations.PropertyAnimationsActivity"
            android:exported="true" /> <!-- motion layout -->
        <activity
            android:name=".motionLayout.MotionLayoutActivity"
            android:theme="@style/MotionLayoutTheme" />
        <activity
            android:name=".motionLayout.Step1Activity"
            android:label="@string/title_activity_step1"
            android:theme="@style/MotionLayoutTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".motionLayout.MotionLayoutActivity" />
        </activity>
        <activity
            android:name=".motionLayout.Step2Activity"
            android:label="@string/title_activity_step2"
            android:theme="@style/MotionLayoutTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".motionLayout.MotionLayoutActivity" />
        </activity>
        <activity
            android:name=".motionLayout.Step3Activity"
            android:label="@string/title_activity_step3"
            android:theme="@style/MotionLayoutTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".motionLayout.MotionLayoutActivity" />
        </activity>
        <activity
            android:name=".motionLayout.Step4Activity"
            android:label="@string/title_activity_step4"
            android:theme="@style/MotionLayoutTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".motionLayout.MotionLayoutActivity" />
        </activity>
        <activity
            android:name=".motionLayout.Step5Activity"
            android:label="@string/title_activity_step5"
            android:theme="@style/MotionLayoutTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".motionLayout.MotionLayoutActivity" />
        </activity>
        <activity
            android:name=".motionLayout.Step6Activity"
            android:label="@string/title_activity_step6"
            android:theme="@style/MotionLayoutTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".motionLayout.MotionLayoutActivity" />
        </activity>
        <activity
            android:name=".motionLayout.Step7Activity"
            android:label="@string/title_activity_step7"
            android:theme="@style/MotionLayoutTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".motionLayout.MotionLayoutActivity" />
        </activity>
        <activity
            android:name=".motionLayout.Step7CompletedActivity"
            android:label="@string/title_activity_step7_completed"
            android:theme="@style/MotionLayoutTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".motionLayout.MotionLayoutActivity" />
        </activity>
        <activity
            android:name=".motionLayout.Step8Activity"
            android:label="@string/title_activity_step8"
            android:theme="@style/MotionLayoutTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".motionLayout.MotionLayoutActivity" />
        </activity>
        <activity
            android:name=".motionLayout.Step8CompletedActivity"
            android:label="@string/title_activity_step8"
            android:theme="@style/MotionLayoutTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".motionLayout.MotionLayoutActivity" />
        </activity>
        <activity
            android:name=".notifications.MainActivity"
            android:exported="true" />

        <receiver
            android:name=".notifications.receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="false"></receiver>
        <receiver
            android:name=".notifications.receiver.SnoozeReceiver"
            android:enabled="true"
            android:exported="false"></receiver>
    </application>

</manifest>